<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportLife</title>
    <link rel='stylesheet' type="text/css" media="screen" href="../css/home.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Gayathri:wght@100;400;700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Unlock&display=swap" rel="stylesheet">

</head>
<body>
    <header class="posicao_menu">

        <img src="../img/logoSportLife.jpeg" class="logo_cadastro">

        <nav class="menu_cabecalho">

            <a class="botao_cadastro" href="../view/cadastro.html">Cadastre-se</a> 
            <a class="botao_cadastro" href="../view/login.html">Acesse sua conta!</a>

        </nav>
    </header>

    <main>
        <section class="inicio_pagina">
            <h1 class="titulo_home">SportLife</h1>
        </section>

        <section class="secundario">
            <h2 class="subtitulo_home">🌟Explore o Melhor do Mundo dos Esportes!🌟</h2>
            <p class="texto_home">Bem-vindo à SportLife, onde você encontra os melhores produtos para elevar <br/>
                seu desempenho! Qualidade e inovação para você alcançar o próximo nível no esporte! <br/> Aproveite ofertas exclusivas e esteja sempre à frente!</p>
        </section>

        <section class="produtos">
            <h3 class="titulo_lista">Produtos SportLife mais vendidos</h3>
            
            <ul class="lista_produtos">
                <li>
                    <img = src="../img/raquete.jpeg" class="pics">
                    <h4 class="detalhe_lista">RAQUETE WILSON</h4>  
                </li>
                <li>
                    <img = src="../img/camisa.jpeg" class="pics">
                    <h4 class="detalhe_lista">CAMISA NFL</h4> 
                </li>
                <li>
                    <img = src="../img/relogio.jpeg" class="pics">
                    <h4 class="detalhe_lista">SMART WATCH</h4>  
                </li>
            </ul>
        </section> 


    </main>
    
    <footer class="rodape">
        <section class="footer_info">
            <div class="footer_contato">
                <h4>Contato</h4>
                <p>Email: contato@sportlife.com.br</p>
                <p>Telefone: (11) 1234-5678</p>
            </div>
    
            <div class="footer_about">
                <h4>Sobre nós</h4>
                <p>A SportLife é dedicada a oferecer produtos de alta qualidade para todos os entusiastas de esportes. Nosso compromisso é proporcionar a melhor experiência para nossos clientes.</p>
            </div>
        </section>
    
        <section class="footer_bottom">
            <p>&copy; 2024 SportLife. Todos os direitos reservados.</p>
        </section>

    </footer>



</body>
</html>